<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
"-//Hibernate/Hibernate Mapping DTD 3.0//EN" "hibernate.org/dtd/hibernate-mapping-3.0.dtd">

<hibernate-configuration>
    <session-factory>       
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>    
        <property name="connection.url">jdbc:mysql://localhost:3306/ecommercewebsite-phase3</property>        
        <property name="connection.username">root</property>        
        <property name="connection.password">root</property>       
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">update</property> 
        <property name="show_sql">true</property>   
        <mapping class= "com.ecommercewebsite.entities.User" />
        <mapping class= "com.ecommercewebsite.entities.Category" />
        <mapping class= "com.ecommercewebsite.entities.Product" />
        <mapping class= "com.ecommercewebsite.entities.ContactUser" />
             
    </session-factory>
    
</hibernate-configuration>